*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

div.login{
    width: 164px;
    height: 43px;
    display: inline-block;
    position: absolute;
    right: 1200px;
    top: 10px;

}
div.login>p{
    height: 40px;
    background-color: rgba(255, 228, 196, 0.375);
    padding: 3%;
    border: none;
    border-radius: 10px;
    
}